*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

header{
    height: 100px;
    background-color: rgb(15, 91, 232);
    display: flex;
    align-items: center;
    justify-content: flex-start;

}
.container{
    width: 75%;
    margin: 0 auto;
    display: flex;
    justify-content: flex-start;   
}
.row{
    width: 100%;
   display: flex;    
}
.col-25{
    height: 50px;
    width: 25%;
    background-image: url(../img/logo.svg);
    background-size: 200px;
    padding-right: 100px;

}
.col-25-2{
    height: 50px;
    width: 25%;
    display: flex;
    justify-content: flex-end;
 }

.col-50{
    height: 50px;
    width: 50%;   
}
.menu{
    list-style-type: none;
    color: white;
    display: flex;
    justify-content: space-around;
    text-align: center;
    font-size: 15px;
}
.accedi{
    width: 50px;
    height: 20px;
    color: black;
    background-color: white;
    border-radius: 20px;
    text-align: center;
    
   
}
.background-blu{
   background-image: url(../img/jumbo.png);
   background-size: cover;
   
}
h1{
    padding-top: 20px;
    font-family: 'Whitney', sans-serif;
    font-size: 50px;
}
p{
    padding: 50px 30px;
    font-family: 'Whitney', sans-serif;
    
}
.tasto{
    background-color: white;
    color: black;
    height: 30px;
    width: 150px;
    text-align: center;
    border-radius: 20px;
    padding: 5px 0;
}
.apri{
    background-color: black;
    height: 30px;
    width: 250px;
    border-radius: 20px;
    padding: 5px 0px;
}

.padding-vertical-20{
    padding: 20px 0px;
}

.container-sm{
    width: 60%;
    margin: 0 auto;
    padding: 20px 0px;
}
.col-100{
    width: 100%;
    height: 350px;
    color: white;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
   
    
    
    
}
.coll-60{
    height: 300px;
    width: 60%;
    background-color: transparent;
}
.img-1{
    background-image: url(../img/item1.svg);
    background-size: contain;
    background-color: transparent;
    background-repeat: no-repeat;
}
.img-2{
    background-image: url(../img/item2.svg);
    background-size: contain;
    background-color: transparent;
    background-repeat: no-repeat;
}
.img-3{
    background-image: url(../img/item3.svg);
    background-size:contain;
    background-color: transparent;
    background-repeat: no-repeat;
}

.coll-40{
    height: 300px;
    width: 40%;
    background-color: transparent;
    
}
.testo-centrale{
    font-size: 30px;
    font-family: 'Whitney', sans-serif;
}
.testo-centrale2{
    font-size: 40px;
    font-family: 'Whitney', sans-serif;
    color: black;
   
}
.testo-centrale3{
    font-size: 40px;
    font-family: 'Whitney', sans-serif;

}
.paragrafo-centrale{
    font-family: 'Whitney', sans-serif;
}
.paragrafo-centrale2{
    font-family: 'Whitney', sans-serif;
    
}

.background-grey{
    background-color: lightgray;
}
.col-green{
    background-image: url(../img/item4-big.svg);
    background-repeat: no-repeat;
    background-size: 300px;
    background-position: center;
}
 .text{
    padding-bottom: 50px;
    align-items: flex-start;
    color: black;
    
 }
 .titolo{
    color: black;
    font-size: 30px;
 }

.star{
    margin-top: 30px;
    color: black;
    background-image: url(../img/stars.svg);
    background-size: contain;
    background-repeat: no-repeat;
    text-align: center;
}
h3{
    margin-top: 20px;
}

footer{
    background-color: rgb(42, 41, 41);
}

.col-30{
    background-color: transparent;
    height: 200px;
    width: 30%;
}

.col-70{
    background-color: transparent;
    height: 200px;
    width: 70%;
    
}
.col-25-footer{
    height: 200px;
    width: 25%;
    background-color: transparent;
    
}
.container-sm-footer{
    width: 60%;
    margin: 0 auto;
    padding: 20px 0px;
    border-top: 1px solid white;
    background-color: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo{
    background-image: url(../img/logo.svg);
    background-size: contain;
    background-repeat: no-repeat;
    width: 100px;
    height: 20px;
}
.bottone{
    background-color: rgb(15, 15, 199);
    border-radius: 20px;
    color: white;
    font-size: 10px;
}
h2{
    color: rgb(15, 15, 199);
}
.img-ita{
    margin-top: 30px;
}
.ita{
    width: 20px;
}
span{
    color: white;
    font-size: 10px;
}
ul{
    list-style-type: none;
    font-family: 'Whitney', sans-serif;
    font-size: 10px;
    line-height: 15px;
    color: white;
}
strong{
    color: rgb(15, 15, 199);
}